<h1>Congratulations!</h1>
<img src="img/ice-cream.jpg" class="centered">
<br>
<p>You have successfully added a definition for the word <%= @word.name()%>.</p>
<div class="results-div">
  <ul>
    <li>Part of Speech: <%= @part_of_speech%></li>
    <li>Definition: <%= @definition_main%></li>
    <li>Example Sentence: <em><%= @example_sentence%></em></li>
  </ul>
</div>
<ul>
  <li><a href='/words/<%=@word.id()%>/definitions/new'>Add Another Definition</a></li>
  <li><a href='/words/<%=@word.id()%>'>See All Definitions for <%= @word.name()%></a></li>
  <a href='/'>Home</a>
</ul>
