<h1><%= @word.name() %></h1>
<h1><%= @word.meanings() %></h1>
<h1><%= @word.id() %></h1>
<br>
<h1><%= @word.meanings()[0].part_of_speech() %></h1>



<a href='/words/<%=@word.id()%>/definitions/new'>Add a Definition</a>
<a href='/'>Back to Words</a>
