<h1><%= @word.name() %></h1>

<%@word.meanings().each() do |meaning, i|%>
<ul>
  <li>Definition</li>
  <li>Part of Speech: <%=meaning.part_of_speech()%></li>
  <li>Definition: <%=meaning.definition_main()%></li>
  <li>Example Sentence: <%=meaning.example_sentence()%></li>
</ul>
<%end%>


<a href='/words/<%=@word.id()%>/definitions/new'>Add a Definition</a>
<a href='/'>Back to Words</a>
